@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wdth,wght@98.8,100..800&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root{
    --color-white: #F9F9F9;
    --color-blue: #008FF7;
    --color-green: #5EB080;
    --color-black: #031726;
    --ff-inter: "Inter", sans-serif;
}

